body {
    background: grey;
}

#content {
    background: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
}

img {
    margin-left: 20px;
}

.btn {
    margin-left: 10px;
}

#more {
    margin-top: 20px;
    margin-bottom: 20px;
}
